//全局变量
@header-height: 64px;
@game-header-height: 32px;
@theme: #548379;
@theme-border: #2d5650;
@theme-shadow: #3b6460;
@theme-light: #b9faf2;
@yellow: #a23f07;

//旧
@bg-blue: #2e97de;
@bg-or: #e36209;

@border-hover: #17e0c2;
@border-active: #39d45d;

@color-cyan: #17e0c2;
@color-cl: #1abc9c;
@color-blue: #00b9eb;
@color-yellow: #ffff00;

@color-gray: #586069;
@color-pp: #6f42c1;

.u-msg-blue {
    background-color: #d9edf7;
    border: 1px solid #bce8f1;
    color: #3a87ad;
    padding: 8px 14px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.u-msg-green {
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    padding: 8px 14px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.u-msg-red {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 8px 14px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.u-msg-yellow {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    padding: 8px 14px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}

.scrollbar() {
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track-piece {
        background-color: #fafafa;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #eee;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer {
        display: none;
    }
}
