.m-item-price-tabs {
  .pr;
  font-size: 12px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  overflow: hidden;

  .el-tabs {
    .pr;
    border: none;
    box-shadow: none;
    z-index: 10;

    .el-tabs__nav {
      .fr;

      .el-tabs__item {
        .ml(0);
        .mr(-1px);
      }
    }
  }

  .m-price-server {
    .pa;
    top: 5px;
    left: 10px;
    z-index: 20;

    i {
      font-size: 20px;
      .y;
    }

    .u-server {
      .ml(5px);
    }
  }
}
