.m-item-price-logs {
    .m-today {
        padding: 5px 0 20px;
        font-weight: bold;
        text-align: center;

        .u-label {
            font-size: 18px;
            font-weight: 300;
        }

        .u-value {
            .mt(4px);
            // color: darkred;
            background-color:@bg-gray;
            .dbi;
            padding:5px 10px;
            letter-spacing: 1px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color:@color !important;
            img{
              .y;
              .w(20px);
            }
        }

        .u-min {
            color: #fc3c3c;
        }
        .u-max {
            color: #ffa41d;
        }
        .u-avg {
            color: #0fc312;
        }
    }
}
