.m-block{
    padding:10px;
}
.m-title{
    padding: 10px 15px;
    background-color: #f3f3f3;
    border:1px solid #eee;
    border-bottom:none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:@theme-border;
    font-size: 14px;
    .bold;
    .clearfix;
    .lh(22px);

    .u-label{
        .fl;
        em{
            .fz(13px);
            color:#888;
            margin-left:10px;
            font-weight: normal;
        }
    }
    .u-edit{
        .fr;
        color: @yellow;
    }
}
.m-section{
    background-color: #fafbfc;
    border: 1px solid #eee;
    padding:15px;
    color: #3d454d;
}