.m-footer{
    background-color:#f7f7f7;
    .fz(13px,28px);
    padding:2px 8px;
    .clearfix;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    .x;
    color:@theme-shadow;
    a{
        color:@theme-shadow;
    }
    .u-link{
        color: #888;
        &:hover{
            color:@theme-shadow;
            box-shadow:0 1px 0 @theme-shadow;
        }
    }
}