//头部菜单
.m-header {
    background-color: @theme;
    border-top: 1px solid @theme-border;
    border-bottom: 1px solid @theme-border;
    box-shadow: 0 1px 0 lighten(@theme-shadow, 40%);
    color: #fff;
    min-height: (@header-height);
    overflow: hidden;
    .flex;
    align-items: center;
}

@small-size: 650px;
.m-header-logo {
    .flex;
    align-items: center;
    box-sizing: border-box;
    height: (@header-height);
    .u-logo {
        display: block;
        width: 32px;
        height: 32px;
        float: left;
        padding: 16px 10px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .u-title {
        display: block;
        color: #fff;
        font-family: Consolas;
        font-size: 20px;
        line-height: 32px;
        padding: 16px 0;
        -webkit-transition: 0.15s ease-in-out;
        transition: 0.15s ease-in-out;
        margin-right: 10px;
    }
}

.m-header-list {
    .flex;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            cursor: pointer;
            display: block;
            font-size: 14px;
            line-height: 32px;
            color: #fff;
            padding: 16px 15px;
            -webkit-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
            height: (@header-height);
            box-sizing: border-box;
            &:hover {
                background-color: @theme-border;
            }
        }
    }
}

@media screen and (max-width: @small-size) {
    .m-header-list {
        font-size: 12px;
        li a {
            .pl(5px);
            .pr(5px);
        }
    }
}
@media screen and (max-width: @phone) {
    .m-header-logo {
        .u-title {
            .none;
        }
    }
}
