.m-wiki-post-empty {
    .u-msg-yellow;
    .x;
    .s-link {
        .underline(@color-link);
    }
    letter-spacing: 2px;
    .fz(14px);
}

.m-wiki-compatible {
    .u-msg-yellow;
    margin: 10px auto;
    padding: 5px 10px;
    a {
        .underline(@color-link);
    }
}

.m-wiki-signature {
    .x(right);
    color: #999;
    .fz(12px,2);
    border-top: 1px dashed #ddd;
    padding: 5px 0;
}

.m-wiki-thx-panel {
    .m-panel-title {
        .flex;
        align-items: center;
        svg,
        i {
            width: 28px;
            height: 28px;
            line-height: 28px;
            color: #0366d6;
            fill: #0366d6;
            font-size: 22px;
        }
        span {
            font-size: 17px;
            font-weight: 300;
        }
    }
    .m-thx {
        margin-top: 20px;
        .w-boxcoin-records-list {
            background-color: #fff;
        }
    }
}
