.u-list-empty {
    .db;
    .u-msg-yellow;
    .mt(5px);
    text-align: center;
}
@media screen and (max-width: @ipad) {
    .m-rank,
    .m-group {
        padding-left: 5px;
        padding-right: 5px;
    }
}

