.m-right-side {
    .u-link {
        .pointer;
    }

    .m-title {
        .fz(18px, 24px);
        margin: 0;
        padding: 0 0 5px 0;
        border-bottom: 1px solid #ebeef5;
    }

    .m-group {
        padding: 15px;

        .u-show-message {
            .fr;
            font-size: 12px;
            font-weight: normal;
            cursor: pointer;
            color: #777;
            &:hover {
                color: @color-link;
            }
        }

        .m-title {
            border-bottom: none;

            .u-icon {
                .y(-3px);
            }
        }

        .u-icon {
            .size(18px);
            .mr(10px);
        }

        .u-list {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin-bottom: 10px;
            }

            .fz(13px);

            b {
                color: #666;
            }
        }

        .el-collapse-item__content {
            padding: 10px 0;
        }

        .el-collapse-item.is-active {
            .el-collapse-item__header {
                border-bottom: 1px solid #ebeef5;
            }
        }

        .u-groups {
            margin: 0;
            padding: 0 0 0 15px;
            list-style: none;

            li {
                padding: 5px 0;
                white-space: nowrap;
                overflow: hidden;

                .u-platform {
                    width: 45px;
                    margin-right: 5px;
                    text-align: center;
                }

                .u-number {
                    padding-left: 10px;
                    padding-right: 10px;
                    border: none;
                    text-align: left;
                }

                .u-result {
                    margin-left: 5px;
                    transition: opacity 1s linear;

                    &.opacity {
                        opacity: 0;
                    }
                }
            }
        }
        .m-group-content {
            max-height: 720px;
            padding: 10px 0;
            box-sizing: border-box;
            overflow-y: auto;
            .scrollbar();
        }
        .u-zones {
            padding: 5px 0;
            .flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
            .u-zone {
                .w(60px);
                text-align: center;
            }
            .u-qq {
                height: 20px;
                padding: 0 5px;
                line-height: 19px;
                font-size: 12px;
                border-width: 1px;
                border-style: solid;
                border-radius: 4px;
                display: inline-block;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                white-space: nowrap;
                border-color: transparent;
                cursor: pointer;
                &:hover {
                    background-color: #e6f0fb;
                    border-color: #cde0f7;
                    color: #0366d6;
                }
            }
        }
    }
}
