.u-point-reward {
    .flex;
    align-items: center;
    cursor: auto;
    color: inherit;

    .u-reward-icon {
        .mr(8px);
        .size(42px);
        .pr;

        .u-icon-bg {
            .pa;
            .z(1);
        }

        .u-icon-img {
            .pa;
            .z(2);
            .size(38px);
            left: 2px;
            top: 2px;
        }
    }

    .u-reward-desc {
        font-size: 15px;
    }

    &.u-point-reward__achievement {
        .pointer;
    }
}
